body {
	background: #ccc;
	font-family: "IBM Plex Mono", monospace;
	font-size: 13px;
	overflow-y: hidden
}

.canv {
	margin: 18px;
	transform-origin: left top;
	transform: scale(0.6);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0
}

.states {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 18px;
	justify-items: center;
	align-items: center;
	padding: 18px;
	background: #eee
}

.states label {
	text-align: center;
	font-size: 15px
}

.states label input {
	display: block;
	border: none;
	border-radius: 2.25px;
	font-family: "IBM Plex Mono", monospace;
	font-size: 15px;
	padding: 6px 0;
	margin-top: 9px;
	text-align: center;
	max-width: 72px
}

.select-label {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 1rem;
	align-items: center;
	justify-content: flex-start;
	grid-column: 1/-1;
	width: 100%
}

select {
	display: block;
	font-size: 12px;
	font-family: "IBM Plex Mono", monospace;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%
}

select::-ms-expand {
	display: none
}

select:hover {
	border-color: #888
}

select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none
}

select option {
	font-weight: normal
}

#button-container {
	grid-column: 1/5;
	grid-row: 10;
	width: 100%;
	display: flex;
	z-index: 2
}

#button-container button {
	background: #000;
	color: #fff;
	border: none;
	border-radius: 9px;
	padding: 9px 18px;
	font-family: "IBM Plex Mono", monospace;
	font-size: 20px;
	width: calc(100% - 9px);
	opacity: 1;
	transition: opacity 1s ease;
	cursor: pointer
}

#button-container button+button {
	margin-left: 18px
}

#button-container button:disabled {
	opacity: .2
}