$pad: 18px;

body {
  // min-height: 1080px;
  // min-width: 1080px;
  background: #ccc;

  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  overflow-y: hidden;
}

.canv {
  margin: $pad;
  transform-origin: left top;
  transform: scale(0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.states {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $pad;
  justify-items: center;
  align-items: center;
  padding: $pad;

  background: #eee;

  label {
    text-align: center;
    font-size: 15px;
    input {
      display: block;
      border: none;
      border-radius: $pad / 8;
      font-family: "IBM Plex Mono", monospace;
      font-size: 15px;
      padding: $pad/3 0;
      margin-top: $pad/2;
      text-align: center;
      max-width: $pad * 4;
    }
  }
}

#button-container {
  button {
    background: black;
    color: white;
    border: none;
    border-radius: $pad / 2;
    padding: $pad/2 $pad;
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
    width: calc(100% - #{$pad/2});
    & + button {
      margin-left: $pad;
    }

    opacity: 1;
    transition: opacity 1s ease;

    cursor: pointer;

    &:disabled {
      opacity: 0.2;
    }
  }
  grid-column: 1 / 5;
  grid-row: 10; // leaves 2 empty rows between this and the inputs
  width: 100%;
  display: flex;
  z-index: 2;
}
